{% extends "NossisBundle::layout.html.twig" %}

{% block title %}Listados{% endblock %}

{% block body %}
    
    <hr>
    <div class="tabla-listado">
        <table class="table">
            <tr>
                <th>Stock</th>
            </tr>
            <tr>
                <td>Por Lote</td>
                <td><a href="{{ path('stock_actual_lote_listado_general') }}">Ver</a></td>
            </tr>
            <tr>
                <td>Por Producto</td>
                <td><a href="{{ path('stock_actual_producto_listado_general') }}">Ver</a></td>
            </tr>
            <tr>
                <td>Por Unidad</td>
                <td><a href="{{ path('stock_actual_unidad_listado_general') }}">Ver</a></td>
            </tr>
        </table>
    </div>
    <hr>
        
{% endblock %}
