{% extends "NossisBundle::layout.html.twig" %}

{% block title %}Lista de Devoluciones{% endblock %}

{% block body %}
    
    <hr>
    
    <div class="grid">
        <table>
            {{ grid(grid) }}
        </table>
    </div>

    
{% endblock %}

    