{% extends "NossisBundle::layout.html.twig" %}

{% block title %}Editar Ingreso de Envase{% endblock %}


{% block body -%}
    <h1>Editar ingreso de envase</h1>
    <div class="form">
        {{ form(edit_form) }}
    </div>

        <ul class="record_actions">
    <li>
        <a href="{{ path('envase_ingreso') }}">
            Volver a la lista
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
