root { 
    display: block;
}

body{
    width: 100%;
    height: 100%;
    font-family: Ubuntu;
}


.menu {
    background-color: #FFFFFF;
    background-image: -moz-linear-gradient(50% 0 , rgba(255, 255, 255, 0), #DCDADA);
    border-bottom-style: solid;
    border-color: #C9C8C8;
    height: 32px;
    margin-left: -8px;
    padding-top: 9px;
   
}

.menu a:link{
    text-decoration: none;
    padding-left: 25px;
    color: #000000;
}

.menu a:visited{
    color: #000000;
}

.boton-blue {
	background: -moz-linear-gradient(center top , #95A6FF 5%, #95A6FF 100%) repeat scroll 0 0 #79BBFF;
        border-radius: 0;
        box-shadow: 0 1px 0 0 #BBDAF7 inset;
        color: #0A020A;
        display: inline-block;
        font-size: 13px;
        font-style: normal;
        height: 30px;
        line-height: 29px;
        margin-right: 30px;
        padding-left: 10px;
        text-align: left;
        text-decoration: none;
        text-indent: 0;
        width: 181px;
}

.boton-blue:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
	background-color:#378de5;
        
}.boton-blue:active {
	position:relative;
	top:1px;
}

.boton-gris {
	-moz-box-shadow:inset 0px 1px 0px 0px #6a7680;
	-webkit-box-shadow:inset 0px 1px 0px 0px #6a7680;
	box-shadow:inset 0px 1px 0px 0px #6a7680;
	background: -moz-linear-gradient(center top , #939393 5%, #939393 100%) repeat scroll 0 0 #939393;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#757d85', endColorstr='#697480');
	background-color:#757d85;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:3px solid #747a80;
	display:inline-block;
	color:#0a020a;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:125px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #5f6a75;
        margin-right: 30px;
}

.boton-gris:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #697480), color-stop(1, #757d85) );
	background:-moz-linear-gradient( center top, #697480 5%, #757d85 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#697480', endColorstr='#757d85');
	background-color:#697480;
        
}.boton-gris:active {
	position:relative;
	top:1px;
}

.botones {
    margin-top: 17px;
    text-align: center;
}

.tabrow {
    text-align: left;
    list-style: none;
    margin: 22px 0 0;
    padding: 0;
    line-height: 24px;
    position: relative;
}

.tabrow li {
    margin: 0 10px;
    padding: 0 10px;
    border: 1px solid #AAA;
    background: #ECECEC;
    display: inline-block;
    position: relative;
    z-index: 0;
}

.tabrow li.selected {
    background: #FFF;
    color: #000;
    z-index: 2;
    border-bottom-color: #FFF;
}

.tabrow:after {
    position: absolute;
    content: "";
    width: 100%;
    bottom: 0;
    left: 0;
    border-bottom: 2px solid #AAA;
    z-index: 1;
}

.tabrow:before {
    z-index: 1;
}

.form-codigo div {
    display: inline;
    text-align: center;
}

.form-codigo {
    margin-top: 30px;
    text-align: center;
}

#form_codigo {
    color: #666666;
    font-size: 22px;
    height: 44px;
    width: 570px;
}

.hr-inicio{
    border-bottom: 1px solid #AAAAAA;
    margin-top: 92px;
}

.hr3-inicio{
    margin-top: -5px;
}

.datagrid table { 
    border-collapse: collapse;
    text-align: left;
    width: 100%; 
} 

.datagrid {
    background: #fff; 
    overflow: hidden; 
    border: 1px solid #8A8789; 
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px; 
    border-radius: 3px;
    margin-left: 3%;
    margin-right: 3%;
}

.datagrid table td, .datagrid table th {
   padding: 3px 10px; 
}

.datagrid table thead th {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #BABBBD), color-stop(1, #BABBBD) );
    background:-moz-linear-gradient( center top, #BABBBD 5%, #BABBBD 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#BABBBD', endColorstr='#BABBBD');
    background-color:#BABBBD; color:#444444; 
    font-size: 15px; 
    font-weight: bold; 
    border-left: 1px solid #8F8F8F; 
} 

.datagrid table thead th:first-child { 
    border: none; 
}

.datagrid table tbody td { 
    color: #000000; 
    font-size: 12px;
    font-weight: normal; 
}

.datagrid table tbody .alt td { 
    background: #EBEDEC; 
    color: #323333; 
}

.datagrid table tbody td:first-child { 
    border-left: none; 
}

.datagrid table tbody tr:last-child td { 
    border-bottom: none; 
}

.datagrid-producto{
    width: 70%
}

.form {
    background-color: #fff;
    border: 1px solid #d7d7d7;
    border-radius: 7px;
    margin: auto;
    width: 24%;
}

.form form {
    margin: 11px 11px 18px;
}

.form label {
    margin-top: 5px;
    font-size: 83%;
    font-weight: normal;
}

.form input {
    height: 35px;
    width: 100%;
}

.form div {
    margin-bottom: 15px;
    padding-left: 10px;
    padding-top: 10px;    
}

.form select {
    background-color: #ffffff;
    border: 1px solid #d7d7d7;
    border-radius: 4px;
    display: table-caption;
    height: 35px;
    padding: 6px 12px;
    width: 100%;
}

.datagrid tr {
    height: 26px;
}

.form input {
    display: block;
}


element.style {
    background: none repeat scroll 0 0 #FFFFFF;
}
body {
    margin: 0;
    padding: 0;
}
body {
    background-color: #FFFFFF;
    color: #000000;
    font: 13px arial,sans-serif;
    margin: 0;
}

.form .submit {
    background-color: #4dff56;
    border: medium none;
    border-radius: 13px;
    font-weight: bold;
    margin: auto;
    text-align: center;
    width: 40%;
}

.guardar {
    background-color: #4DFF56;
    border: medium none;
    border-radius: 13px;
    font-weight: bold;
    margin-left: 32px;
    margin-top: 18px;
    text-align: center;
    width: 102%;
}

.botones {
    text-align: center;
    width: 100%;
    margin-top: 5%;
}

.form .confirmar {
    background-color: #00A4FF;
    border: medium none;
    border-radius: 13px;
    font-weight: bold;
    margin-left: 48px;
    margin-top: 18px;
    text-align: center;
    width: 89%;
}



element.style {
    background: none repeat scroll 0 0 #FFFFFF;
}
body {
    margin: 0;
    padding: 0;
}
body {
    background-color: #FFFFFF;
    color: #000000;
    font: 13px Ubuntu,sans-serif;
    margin: 0;
}
.mensajes_ok {
    background-color: #00D600;
    border-radius: 13px;
    height: 34px;
    margin-top: -12px;
    padding-top: 12px;
    text-align: center;
    width: 325px;
}


element.style {
    background: none repeat scroll 0 0 #FFFFFF;
}
body {
    margin: 0;
    padding: 0;
}
body {
    background-color: #fafafa;
    color: #000000;
    font: 13px arial,sans-serif;
    margin: 0;
}
.panel-ingresar {
   background-color: #fff;
   display: block;
   height: 717px;
}

.panel-ingresar .form {
    float: left;
    height: 100%;
}

.tabla-hoy {
    background-color: #fff;
    border: 1px solid #d7d7d7;
    border-radius: 7px;
    float: right;
    height: 100%;
    margin-left: 0;
    margin-top: 0;
    width: 75%;
}

.tabla-hoy h3 {
    margin-bottom: 1%;
    margin-top: 1%;
    padding-left: 3px;
}

.tabla-hoy .datagrid{
    border:#fff;
}

.datagrid-fecha{
    width: 14%;
}

.datagrid-area{
    width: 14%;
}

.datagrid-agregado{
    background-color: #4DFF56;
}

.show-stock {
    font-family: Ubuntu;
    font-size: 149%;
    margin-left: 1%;
}

.show-stock hr {
    margin-top: 2%;
}

.show-stock h2 {
    margin-top: 3%;
}

.show-stock td {
    padding-bottom: 15px;
    padding-right: 71px;
}

.show-stock table {
    margin-top: 3%;
}

.show-stock h1 {
    margin-top: 6%;
}

.show-stock h1 {
    color: #AAAAAA;
    font-size: 150%;
    margin-top: 1%;
}

.formcodigo {
    border: 1px solid #d7d7d7;
    border-radius: 7px;
    display: -moz-inline-grid;
    height: 100%;
    margin-left: 0;
    margin-top: 0;
    text-align: center;
    width: 75%;
}

.formcodigo input {
    color: #666666;
    font-size: 22px;
    height: 44px;
    margin-bottom: 5%;
    margin-top: 3%;
    width: 570px;
}

.retiro{
    width: 50%;
}

.despachar {
    display: block;
    height: 627px;
}

.despachar .form {
    float: left;
    height: 100%;
}

.despachar .formcodigo {
    float: right;
    background-color: #fff;
}

.datagrid .retiro {
    height: 21%;
    text-align: center;
    width: 21%;
}

.links {
    margin-left: 2.5%;
}

.links a {color:#22568c;}
.links a:link {
    color:#22568c;
    padding-bottom: 5px;
    text-decoration: none;
}
.links a:hover {color:#22568c; text-decoration: none;}

.ver{
    padding-left: 20px;
    background: url(images/ver.png) no-repeat;
}


.flash {
    background-color: #FFBABA;
    background-image: url("images/error.png");
    background-position: 0 center;
    background-repeat: no-repeat;
    color: #D8000C;
    font-family: "Ubuntu";
    font-size: 20px;
    padding-bottom: 8px;
    padding-left: 42px;
    padding-top: 8px;
}

.grid table {
    border-collapse: collapse;
    color: #555555;
    font-family: "Ubuntu";
    font-size: 100%;
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
}
.grid td, .grid th {
    border-bottom: 2px solid #D4E0EE;
    padding: 3px 7px 2px;
}

.grid td {
    background-color: #fff;
}

.grid th
{
    background-color: #E6EDF5;
    vertical-align: top;
}

.grid th a {
    color: #707070;
    font-size: 118%;
    text-decoration: none;
}

.grid th a.grid-reset {
    margin-left: 5px;
    font-weight: normal;
}

.grid tr.even
{
    background-color: #FCFDFE;
    text-align: center;
}

.grid tr.odd {
    background-color: #F7F9FC;
    text-align: center;

}

.grid_header, .grid_footer {
    margin: 5px 30%;
}

/* Icons for order */
/* You can find this icons in the images directory of the docuementation */
th div {
    height: 10px;
    width: 20px;
    float: right;
    padding-top: 4px;
}

.grid th div.sort_up {
    background: transparent url("data:image/gif;base64,R0lGODlhFwAKAIABAJCQkO/v7yH+EUNyZWF0ZWQgd2l0aCBHSU1QACH5BAEKAAEALAAAAAAXAAoAAAIajI+py+0GwGsxTmVDvlqe/YCQ52wmyaXqUQAAOw==") no-repeat bottom left;
}

.grid th div.sort_down {
    background: transparent url("data:image/gif;base64,R0lGODlhFwAKAHAAACH5BAEAAAIALAAAAAAXAAoAgQAAAJCQkAAAAAAAAAIalI+py60RDpTRiZmwvdXozXkdKH6keKZqUwAAOw==") no-repeat bottom left;
}

/* Boolean column */
.grid .grid_boolean_true {
    background: transparent url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAACl0lEQVR42q2T60uTYRiH/Tv2bnttAwlkRCGChFD7FCQSm2ZDMQ/L0nRnj7TNGDbTooychzFSSssstdqc8zB1anNrSpm47FVCzH3pQLVhdLBfzztoJlifvOEHz4fnuu7nGBe311XgOyLMnTmsz/akMBljB8OSEVFY4kpkJM5Efbp9v/C/cJ43VSrzJId0HhluBy3oW+mKpnOpGSWuExD30iFxDy3dFSZdpZkTSZHr80Y41/phe3UDpvnKaNixY60PjbNVOGTjRZJtvJ2SHE+KINOdtMHC7MSaQBkq/CXQzJ6DjqScpNp3HvY3D3B5ugIiC3dDdJMriAlk7iSDajwr2pmFWVDlPQPFTCEU0wVQTxfCvT4Ig1cJB5Hk9hxDwjWuISbIGBExncFmWINNqPAVQ/lUTsB8KKdIPPmYeOsCW6HIOtpeNMI234j4ei4TExy3J2w+Wr2L2oAGWm8RWckAlj4uQDVZiPH1oSj8c+sH2p5fgWGyGH3BTvCN1GZMIH5Ib/avdMPoV6HWr8Xnb5+i0Iev72KwZa4ealc29O6z6A92gF/zt6CHZm4tNKF98Sp0U3KYfdWIfP8Shbd+bcHy7BLKnFnQEEFLoA7tXjPoKmp7C6l3+Ab5QBrsq/dRPSmH2n0adTPlWH6/iLa5BpQOnoTCcQo6Zw7sr7uRbj0KupLaPsRkK09wgFyN2aPBY+YeKkfzoB3OgWpIBqWDDQtn48lyF4xDxeCrORu0mhLseAuJTVxpfAMVMbnL4CCS1oAZ+tEiXBiWo5VswU5gvbMIvFJOhMC7v8Z9DVwpbaJCkg4x2v1m9L60onfBCovXhLSWVPAVnBCt+gf8p+iLXCFtoPR0DcXwtZwwX8UJk44MiZ4upYR7/nt/A+w9sdKFchsrAAAAAElFTkSuQmCC") no-repeat bottom left;
    display: inline-block;
    text-indent: 16px;
    width: 16px;
    overflow: hidden;
}

.grid .grid_boolean_false {
    background: transparent url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAACSElEQVR42q2Ty0vUURTHv/5SJ1SmUaGckUYdG5FyVdAicGMkFAXBtEl8gJseIP0FEVEtbNNiFm0iMMUgGKhVIUj0oqKFQ40N2TwwdewxOik6zcy953tbmD/HxFV9d/dwz+f7PXAO8I8q+bugb1xspjFdhuwlWUcSJL+SvEfhaPXgcHxbQOH6hYChCa6WlLvLm/eh1OkEAKjlJWSjUVjZpXlSBvbcehDaAshfOx8w5FB+t7eyosUPSU2DqWkAgOX2wvI0YPljFLmpD6sU6fPefhSyAbmr53wkXxTqvJ7KlhYUXo0BACou3wEArFzpB2hQ3t6JpcgkVqITKSHb/XefJCwAENHdWcux0WwMDI09GjUh2iA7/hjO1v0wVbUerVQ3AFgAoLXucfj9kNkkDA0oBkZzE4BKIAUin4hjV2sblFI9xYD6MpcLeiYJo2k7rksKhKi1ei4WR5mrBlrp+g2A0jBi7MZ1RzUV2RhB/YEIASG0VihKoOby6UVY7gY7qiji18txrDy8b7tTEaV7G5FNp6GVnitOMPwz8h47PI32Z1GEs/8Sqk6fBRUhmhAhHI0+fA+/g9Z62AYopUYKC6lUZjKCio7jNmQxeBMLwUGIrL1dJ07iRySMzMznlNZ6ZNMiTXZ3BCgy5DpwuLK6tQ25ZAK5WBzGGDiafHA0+ZCOhPHl9dgqyb6jTz+FtqzyxJkjASGDO2s87tq2g3C4qmEMkMss4tvEW2RmY/MkB449mwpte0xvTh1qJtlFYS8pm4+JHO18Hovjf+o3Xg+XX4ZLBPIAAAAASUVORK5CYII=") no-repeat bottom left;
    display: inline-block;
    text-indent: 16px;
    width: 16px;
    overflow: hidden;
}

/* Alignement */
.grid .align-left {
    text-align: left;
}

.grid .align-center {
    text-align: center;
}

.grid .align-right {
    text-align: right;
}

/* Column filter */
.grid .grid-filter-operator select {
    height: 28px;
    margin-left: 4%;
    margin-right: 4%;
    width: 92%;
}


.grid .grid-filter-input-query input, .grid .grid-filter-select-query select {
    height: 31px;
    margin-left: 4%;
    margin-right: 4%;
    width: 92%;
}

.grid .grid-filter-input-query-to, .grid .grid-filter-select-query-to{
    margin-left: 77px;
    display: block;
}

/* Grid Search */

.grid-search {
    border: 1px solid #D4E0EE;
    padding: 10px;
}

.grid-search label{
    width: 80px;
    display: inline-block;
    text-align: right;
}

.grid-search select, .grid-search .grid-filter-input-query input {
    width: 150px;
}

.grid-filter-operator select{
    background-color: #FFFFFF;
    border: 1px solid #AAAAAA;
    border-radius: 4px;
    padding: 3px 5px;
}

.pager select{
    background-color: #FFFFFF;
    width: 11%;
}

.pager input{
    width: 5%;
}

.show {
    display: block;
    margin: 0 auto;
    width: 50%;
}


.grid_boolean_SI {
    background: none repeat-x scroll 0 0 #468847;
    border-color: #000000;
    border-radius: 4px;
    color: #FFFFFF;
    padding: 3px;
    font-weight: bold;
}

.grid_boolean_NO {
    background: none repeat-x scroll 0 0 #B94A48;
    border-color: #000000;
    border-radius: 4px;
    color: #FFFFFF;
    padding: 3px;
    font-weight: bold;
}

.grid-column-confirmado.align-center {
    text-align: center;
}

.grid-column-__actions{
    text-align: left;
}

.pdf {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../images/pdf.png");
    background-origin: padding-box;
    background-repeat: no-repeat;
    background-size: auto auto;
    display: block;
    font-size: 118%;
    height: 32px;
    margin: 16px auto 16px 41%;
    padding-left: 50px;
    padding-top: 18px;
}

.show th{
    text-align: right;
}

.imprimir {
    background: url("../images/imprimir.png") no-repeat scroll 0 center rgba(0, 0, 0, 0);
    padding-left: 20px;
}


.show-stock-estados {
    font-family: "Ubuntu";
    font-size: 115%;
    margin: auto;
    text-align: center;
    width: 100%;
}

.show-stock-estados table {
    margin-left: 15px;
}

.show-stock-estados td {
    padding-right: 25px;
    padding-top: 15px;
}


.show-stock-estados h1 {
    color: #AAAAAA;
    padding-left: 14px;
    text-align: left;
}

.show-stock-estados-nombre {
}

.show-stock-estados-detalle {
    
}

.barra{
    font-family: "code128";
}

.stock-actual {
    font-size: 114%;
    font-weight: bold;
}

.h3-stock {
    margin-top: 2%;
}

.ok{
    
    background: url(images/normal.png) no-repeat;
}

.show-barcode {
    float: left;
    height: 81px;
    overflow: hidden;
    width: 177px;
}

.select2-container {
    width: 100%;
}

.field {
    padding-left: 25px;
}

.nav-center {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 35%;
}

.nav-button-item.brand {
    color: #0088cc;
    float: left;
    font-size: 16px;
}

.nav-button-item:hover {
  background-color: transparent;
  color: #ffffff;
  text-decoration: none;
}

.brand > span {
    font-size: 58%;
}

.tabla-listado {
    margin-left: 30px;
    width: 50%;
}