{% extends "NossisBundle::layout.html.twig" %}

{% block title %}Trazladar todo un lote{% endblock %}


{% block body %}
<hr>
        <div class="form">
            <form action="{{ path('lote_trazladar_stock', {'lote' : lote , 'area' : area, 'timestamp' : fecha}) }}" method="post">
                {{ form_rest(form) }}            
                <input class="submit" type="submit" value="Trazladar"  />
            </form>
        </div>
    
<hr>

{% endblock %}
    
    